<div class="main" fxLayout="column" fxLayoutAlign="start start">
    <h1>Books</h1>
    <div class="main-book" fxLayout="row wrap" fxLayoutAlign="start start">
        <div class="book" fxLayout="column" *ngFor="let data of childMessage | filter:filterstring" (click)="book_by_id(data.id)">
            <div class="image-book" fxLayout="column" fxLayoutAlign="center center">
                <img id="book-image" src="{{'http://127.0.0.1:8000' + data.image_field}}" alt="">
            </div>
            <div class="book-detail">
                <h4 class="book-elements">{{data.name}}</h4>
                <h6 class="book-elements">By {{data.author}}</h6>
                <div class="rating" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="rate" fxLayout="row" fxLayoutAlign="space-around center">
                    {{data.rating}}
                    <img id="star" src="../../../assets/star_.svg" alt="">
                    </div>
                    <h6 style="margin:0px;">({{data.quantity}})</h6>
                </div>
                <h5 class="book-elements">Rs. {{data.price}}</h5>
            </div>
        </div>
    </div>
</div>