<div fxLayout="column" fxLayoutAlign="center center">
    <div class="main" fxLayout="column" fxLayoutAlign="center center">
        <h1>Order Placed Successfully</h1>
    </div>
    <div class="message" fxLayout="column" fxLayoutAlign="center center">
        hurray!!! your order is confirmed
    </div>
    <div class="table" fxLayout="row" fxLayoutAlign="center start">
        <div class="table-item" fxLayout="column" fxLayoutAlign="start start">
            <span class="table-heading" fxLayoutAlign="center center">Email us</span>
            <div id="item1" class="table-detail" fxLayoutAlign="center center">
                <h5>admin@admin.com</h5>
            </div>
        </div>
        <div class="table-item" fxLayout="column" fxLayoutAlign="start start">
            <span class="table-heading" fxLayoutAlign="center center">Contact us</span>
            <div id="item2" class="table-detail" fxLayoutAlign="center center">
                <h5>+919999999999</h5>
            </div>
        </div>
        <div class="table-item" fxLayout="column" fxLayoutAlign="start start">
            <span class="table-heading" fxLayoutAlign="center center">Address</span>
            <div id="item3" class="table-detail" fxLayoutAlign="center center">
                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure totam provident pariatur iste ad corrupti, sit et, nihil illum atque, quod modi dolorum amet vel ipsam fuga perferendis in autem?</h5>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button id="matbutton" mat-flat-button (click)="home()">CONTINUE SHOPPING</button>
    </div>
</div>
