.img-container{
    width: 90%;
    height: 420px;
}
.image{
    width: 100%;
    height: 350px;
    border: 2px solid rgba(94, 90, 90, 0.423);
}
.main-image{
    width: 32%;
}
.image-small{
    width: 15%;
    height: 60px;
    border: 1px solid rgba(94, 90, 90, 0.423);
    margin-right: 5px;
}
.imga{
    height: 80%;
}
.book-elements{
    width: 55%;
    margin-left: 40px;
}
.book-details{
    border-top: 1px solid rgba(125, 121, 121, 0.34);
    border-bottom: 1px solid rgba(125, 121, 121, 0.34);
    padding-top: 20px;
    padding-bottom: 25px;
}
#book-ele{
    margin-bottom: 0px;
}
#book-button{
    background-color: rgb(119, 8, 8);
    width: 140px;
    color: #fff;
    border-radius: 2px;
    font-weight: lighter;
}
.buttons{
    width: 100%;
    height: inherit;
}
.main{
    margin-top: 30px;
}
.rating{
    height: 27px;
    width: 82px;
}
.rate{
    background-color: green;
    width: 40px;
    color: #fff;
}
#star{
    width: 13px;
    filter: invert(1);
}
#link-p{
    color: rgba(128, 128, 128, 0.652);
}
#link-p:hover{
    cursor: pointer;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.up-down-button{
    border-radius: 20px;
    border: 1px solid grey;
    width: 20px;
    height: 20px; 
    font-size: large   
}
.up-down-button:hover{
    cursor: pointer;
}
#quantity-input{
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.quantity_update{
    width: 100px;
}