<div class="main">
    <div class="every">
        <div class="home-link" fxLayout="row">
            <p id="link-p" routerLink="/dashboard/book">Home</p>
            <p>/Book(01)</p>
        </div>
        <div class="main-top" fxLayout="row" fxLayoutAlign="start start">
            <div class="main-image" fxLayout="row" fxLayoutAlign="start start">
                <div class="image-small" fxLayoutAlign="center center">
                    <img class="imga" src="{{'http://127.0.0.1:8000' + data.image_field}}" alt="">
                </div>
                <div class="img-container" div fxLayout="column" fxLayoutAlign="start center">
                    <div class="image" fxLayoutAlign="center center">
                        <img class="imga" src="{{'http://127.0.0.1:8000' + data.image_field}}" alt="">
                    </div>
                    <div class="buttons" fxLayoutAlign="space-between center">
                        <button *ngIf="!added" id="book-button" mat-flat-button (click)="addCart(data.id)">ADD TO
                            CART</button>
                        <div *ngIf="added" class="quantity_update" fxLayout="row" fxLayoutAlign="space-between center">
                            <button class="up-down-button" fxLayoutAlign="center center"
                                (click)="dec_quantity(cart_data.quantity, cart_data.id)">-</button>
                            <input id="quantity-input" type="number" [(ngModel)]="cart_data.quantity">
                            <button class="up-down-button" fxLayoutAlign="center center"
                                (click)="inc_quantity(cart_data.quantity, cart_data.id)">+</button>
                        </div>
                        <button id="book-button" mat-flat-button color="warn">WISHLIST</button>
                    </div>
                </div>
            </div>
            <div class="book-elements">
                <div class="book-main">
                    <h1>{{data.name}}</h1>
                    <h3>By {{data.author}}</h3>
                    <div class="rating" fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="rate__" fxLayout="row" fxLayoutAlign="space-around center">
                            {{data.rating}}
                            <img id="star" src="../../../assets/star_.svg" alt="">
                        </div>
                        <h4 style="margin:0px;">({{data.quantity}})</h4>
                    </div>
                    <h1>Rs. {{data.price}}</h1>
                </div>
                <div class="book-details">
                    <p id="book-ele">Book Details:</p>
                    <p id="book-ele">{{data.description}}</p>
                </div>
                <h2 id="customer-review">Customer Review</h2>
                <div class="feedback">

                    <div class="rate" fxLayout="row">
                        <div class="rate1" (click)="add_rate(1)">★</div>
                        <div class="rate2" (click)="add_rate(2)">★</div>
                        <div class="rate3" (click)="add_rate(3)">★</div>
                        <div class="rate4" (click)="add_rate(4)">★</div>
                        <div class="rate5" (click)="add_rate(5)">★</div>
                    </div>
                    <div class="input-submit">
                        <input type="text" placeholder="Write your reviews here" class="review-input"
                            [(ngModel)]="description">
                    </div>
                    <div class="button-container" fxLayoutAlign="end end">
                        <button id="matbutton" mat-flat-button (click)="add_review()">SUBMIT</button>
                    </div>
                </div>
                <div class="reviews" *ngIf="submitted">
                    <div>
                        <h3 id="cus-name">Nishant Sharma</h3>
                        <div class="star-rating">
                            <label id="check" *ngFor="let a of checkArray">★</label>
                            <label id="not-check" *ngFor="let a of uncheckArray">★</label>
                        </div>
                        <h5>{{description}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>